$theme-pink: #f59ba6;

.Header {
  height: 50px;
  width: 100%;
  background-color: $theme-pink;
  border-radius: unset;
  margin-bottom: unset;

  @media screen and (min-width: 768px) {
    height: 55px;
  }

  h1 {
    text-align: center;
    font-size: 2rem;
    color: #fff;
    margin: 0;
    padding-top: 13px;

    @media screen and (min-width: 768px) {
      font-size: 2.5rem;
    }
  }

  img {
    width: 37px;
    border: 1px solid #f59ba6;
    border-radius: 75%;
    background-color: #fff;
    margin: 3px 0 5px 0;
    position: absolute;
    top: 4px;
    left: 10px;

    @media screen and (min-width: 768px) {
      width: 45px;
      left: 20px;
      top: 2px;
    }
  }

  a {
    background: unset;
    border: unset;
  }
}