$main-pink: #f59ba6;
$water-blue: #bdeaee; // color for parents
$skin-yellow: #ffdbac; // kids color

.ChildrenSettingsPage {
  margin-top: 30px;

  h2 {
    margin: 15px 0 0 110px;
    font-weight: 800;
    font-size: 1.85rem;
    text-shadow: 0.2px 0.2px moccasin;
    position: absolute;
    z-index: 2;
    color: #8ad0d6f7;
    background-color: #fff;
    padding: 0 15px;
  }
}