.Header {

  background-color: #f59ba6;
  color: #fff;

  h1 {
    text-align: center;
    padding-top: 10px;
    font-size: 1.6rem;
  }

  img {
    width: 50px;
    border-radius: 50%;
    margin: 5px 0 5px 15px;
  }

  .navbar-header {
    height: 60px;
  }

  .navbar-brand {
    float: left;
  }


}