$color-theme-pink: #f59ba6;
$water-blue: #bdeaee; // color for parents
$skin-yellow: #ffdbac; // kids color
$color-save: #9acd32cf;
$color-text-darkgray: #696969;

.SavingsGoal {
  padding: 0;
  margin-top: 25px;
  z-index: 1;
  display: flex;
  margin: 25px auto 100px auto;
  float: unset;
  border: 2px solid $water-blue;
  border-radius: 10px;

  h2 {
    margin: -12px 0 0 17px;
    text-shadow: 0.2px 0.2px moccasin;
    position: absolute;
    z-index: 2;
    color: #8ad0d6f7;
    background-color: #fff;
    padding: 0 13px;
    font-weight: 700;
    font-size: 1.7rem;

    @media screen and (min-width: 768px) {
      margin: -10px 0 0 15px;
      font-size: 1.6rem;
      padding: 0 10px;
    }

    @media screen and (min-width: 992px) {
      margin: -10px 0 0 20px;
      font-size: 1.7rem;
    }
  }

  .form-group {
    margin-bottom: 10px;
    padding: 40px 30px 20px;
    width: 100%;

    & > p {
      color: #526b86;
      margin-bottom: 15px;
      font-size: 1.5rem;
      font-weight: 600;
    }

    @media screen and (min-width: 768px) {
      padding: 40px 20px 20px;
    }
  }

  .input-holder {
    display: flex;
    justify-content: flex-start;

    & > p {
      margin: 4px 50px 20px 10px;
      font-weight: 600;
      font-size: 1.7rem;
      color: #526b86;
    }
  }

  .form-control {
    border: 2px dotted $color-save;
    box-shadow: unset;
    width: 30%;
  }

  button {
    background-color: $color-save;
    color: $color-text-darkgray;
    font-size: 1.35rem;
    font-weight: 600;
    box-shadow: 2px 2px 4px #d3d3d3;
    border: unset;

    &:hover {
      background-color: #77a123cf !important;
      color: $color-text-darkgray;
    }

    @media screen and (min-width: 576px) {
      font-size: 1.5rem;
    }

    @media screen and (min-width: 768px) {
      font-size: 1.35rem;
    }
  }

  .last-month-result {
    color: $color-text-darkgray;
    font-weight: 700;
    font-size: 1.65rem;

    & ~ span {
      color: $color-text-darkgray;
      font-weight: 700;
      font-size: 1.65rem;
    }
  }

  .stamp {
    margin: auto;
  }

  .circle {
    height: 65px;
    width: 65px;
    border-radius: 50%;
    background-color: $color-save;
    margin: auto;
  }

  // It appears when the save button is pressed
  .show-savings-goal {
    font-size: 2rem;
    color: $color-text-darkgray;
    font-weight: 700;
    margin: 30px 20px;

    & strong {
      font-weight: 800;
      font-size: 2.7rem;
      margin: 1px 10px;
      color: $color-save;
    }
  }
}
